## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ModuleNotFoundError: No module named 'gmaps'

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Makat,KZ,2021-09-27 00:00:11,47.6469,53.3463,56.26,87,100,17.22,overcast clouds
1,1,Langsa,ID,2021-09-27 00:00:12,4.4683,97.9683,74.16,96,100,4.03,overcast clouds
2,2,Hobart,AU,2021-09-26 23:58:48,-42.8794,147.3294,55.26,63,20,1.01,few clouds
3,3,Chokurdakh,RU,2021-09-26 23:50:16,70.6333,147.9167,26.83,93,100,16.35,light snow
4,4,Rovaniemi,FI,2021-09-26 23:52:17,66.5000,25.7167,44.01,93,90,8.05,mist

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum allowable temperature for your trip? "))
max_temp = float(input("What is the maximum allowable temperature for your trip? "))

What is the minimum allowable temperature for your trip? 50
What is the maximum allowable temperature for your trip? 75

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
pref_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Makat,KZ,2021-09-27 00:00:11,47.6469,53.3463,56.26,87,100,17.22,overcast clouds
1,1,Langsa,ID,2021-09-27 00:00:12,4.4683,97.9683,74.16,96,100,4.03,overcast clouds
2,2,Hobart,AU,2021-09-26 23:58:48,-42.8794,147.3294,55.26,63,20,1.01,few clouds
6,6,Port Lincoln,AU,2021-09-27 00:00:14,-34.7333,135.8667,63.73,49,73,16.33,broken clouds
8,8,Ginda,IN,2021-09-27 00:00:15,30.6945,78.4932,59.34,78,0,5.61,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
700,700,Camacha,PT,2021-09-26 23:59:36,33.0833,-16.3333,66.96,77,0,0.00,clear sky
705,705,Ouesso,CG,2021-09-27 00:03:17,1.6136,16.0517,67.93,97,82,0.85,light rain
706,706,Bar Harbor,US,2021-09-27 00:03:17,44.3876,-68.2039,60.91,86,1,7.00,clear sky
712,712,Vigrestad,NO,2021-09-27 00:03:19,58.5667,5.7000,62.28,82,95,25.99,overcast clouds
713,713,Ozernovskiy,RU,2021-09-27 00:03:19,51.5000,156.5167,50.25,86,94,7.29,light rain

In [7]:
# 4a. Determine if there are any empty rows.
pref_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pref_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Makat,KZ,2021-09-27 00:00:11,47.6469,53.3463,56.26,87,100,17.22,overcast clouds
1,1,Langsa,ID,2021-09-27 00:00:12,4.4683,97.9683,74.16,96,100,4.03,overcast clouds
2,2,Hobart,AU,2021-09-26 23:58:48,-42.8794,147.3294,55.26,63,20,1.01,few clouds
6,6,Port Lincoln,AU,2021-09-27 00:00:14,-34.7333,135.8667,63.73,49,73,16.33,broken clouds
8,8,Ginda,IN,2021-09-27 00:00:15,30.6945,78.4932,59.34,78,0,5.61,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
700,700,Camacha,PT,2021-09-26 23:59:36,33.0833,-16.3333,66.96,77,0,0.00,clear sky
705,705,Ouesso,CG,2021-09-27 00:03:17,1.6136,16.0517,67.93,97,82,0.85,light rain
706,706,Bar Harbor,US,2021-09-27 00:03:17,44.3876,-68.2039,60.91,86,1,7.00,clear sky
712,712,Vigrestad,NO,2021-09-27 00:03:19,58.5667,5.7000,62.28,82,95,25.99,overcast clouds
713,713,Ozernovskiy,RU,2021-09-27 00:03:19,51.5000,156.5167,50.25,86,94,7.29,light rain

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Makat,KZ,56.26,overcast clouds,47.6469,53.3463,
1,Langsa,ID,74.16,overcast clouds,4.4683,97.9683,
2,Hobart,AU,55.26,few clouds,-42.8794,147.3294,
6,Port Lincoln,AU,63.73,broken clouds,-34.7333,135.8667,
8,Ginda,IN,59.34,clear sky,30.6945,78.4932,
11,Vaini,TO,71.22,broken clouds,-21.2000,-175.2000,
14,Ueckermunde,DE,61.68,broken clouds,53.7379,14.0447,
17,Pimentel,PE,65.10,broken clouds,-6.8367,-79.9342,
18,East London,ZA,65.35,scattered clouds,-33.0153,27.9116,
22,Constitucion,CL,50.22,scattered clouds,-35.3333,-72.4167,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

NameError: name 'g_key' is not defined

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure